<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fedbd">  <td>21/04/14 13:03:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="advertiserCreate.loginPageTitleTest()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@4d910fd6]">loginPageTitleTest</td> 
  <td>main@1409154977</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/04/14 13:03:17</td>   <td>-3147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;advertiserCreate.setUp()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@4d910fd6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1409154977</td>   <td></td> </tr>
<tr bgcolor="9fedbd">  <td>21/04/14 13:03:43</td>   <td>22624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;advertiserCreate.teardown()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@4d910fd6]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1409154977</td>   <td></td> </tr>
</table>
