<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2a091">  <td>21/03/18 15:03:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;advertiserCreate.setUp()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@152aa092]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1245420322</td>   <td></td> </tr>
<tr bgcolor="e2a091">  <td>21/03/18 15:03:08</td>   <td>4550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="advertiserCreate.checkAdvertiser()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@152aa092]">checkAdvertiser</td> 
  <td>TestNG-test=Test-1@1245420322</td>   <td></td> </tr>
<tr bgcolor="e2a091">  <td>21/03/18 15:03:08</td>   <td>4550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="advertiserCreate.loginPageTitleTest()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@152aa092]">loginPageTitleTest</td> 
  <td>TestNG-test=Test-2@696821991</td>   <td></td> </tr>
<tr bgcolor="e2a091">  <td>21/03/18 15:03:38</td>   <td>34521</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;advertiserCreate.teardown()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@152aa092]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@696821991</td>   <td></td> </tr>
</table>
