<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Main Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c8a62">  <td>21/04/14 15:05:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginTest.setUp()[pri:0, instance:test.ui.advertiser.testcases.loginTest@272ed83b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1007479572</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>21/04/14 15:05:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;advertiserCreate.setUp()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@51f116b8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@256994022</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>21/04/14 15:05:18</td>   <td>6118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="advertiserCreate.checkAdvertiser()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@51f116b8]">checkAdvertiser</td> 
  <td>TestNG-tests-1@256994022</td>   <td></td> </tr>
<tr bgcolor="8c8a62">  <td>21/04/14 15:05:18</td>   <td>6635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.checkAdvertiser()[pri:0, instance:test.ui.advertiser.testcases.loginTest@272ed83b]">checkAdvertiser</td> 
  <td>TestNG-tests-2@1007479572</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>21/04/14 15:05:40</td>   <td>28630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;advertiserCreate.teardown()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@51f116b8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@256994022</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>21/04/14 15:05:40</td>   <td>28694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;advertiserCreate.setUp()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@51f116b8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@256994022</td>   <td></td> </tr>
<tr bgcolor="8c8a62">  <td>21/04/14 15:05:41</td>   <td>29541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;loginTest.teardown()[pri:0, instance:test.ui.advertiser.testcases.loginTest@272ed83b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1007479572</td>   <td></td> </tr>
<tr bgcolor="8c8a62">  <td>21/04/14 15:05:41</td>   <td>29602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginTest.setUp()[pri:0, instance:test.ui.advertiser.testcases.loginTest@272ed83b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1007479572</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>21/04/14 15:05:43</td>   <td>31206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="advertiserCreate.loginPageTitleTest()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@51f116b8]">loginPageTitleTest</td> 
  <td>TestNG-tests-1@256994022</td>   <td></td> </tr>
<tr bgcolor="8c8a62">  <td>21/04/14 15:05:44</td>   <td>32106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.loginPageTitleTest()[pri:0, instance:test.ui.advertiser.testcases.loginTest@272ed83b]">loginPageTitleTest</td> 
  <td>TestNG-tests-2@1007479572</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>21/04/14 15:06:06</td>   <td>54681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;advertiserCreate.teardown()[pri:0, instance:test.ui.advertiser.testcases.advertiserCreate@51f116b8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@256994022</td>   <td></td> </tr>
<tr bgcolor="8c8a62">  <td>21/04/14 15:06:07</td>   <td>55577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;loginTest.teardown()[pri:0, instance:test.ui.advertiser.testcases.loginTest@272ed83b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1007479572</td>   <td></td> </tr>
</table>
